* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    gap: 40px;
}

.grid {
    border: 1px solid pink;
    background-color: white;
}



#container {
    width: 500px;
    height: 500px;
    display: grid;
    
     
    
}

#popup_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#popup_container > input[type="range"] {
    accent-color: #444;
}