* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    gap: 40px;
    position: relative;
}

.grid {
    border: 1px solid pink;
    background-color: white;
}



#container {
    width: 500px;
    height: 500px;
    display: grid;
    
     
    
}

#popup_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#popup_container > input[type="range"] {
    accent-color: #444;
}

#controls {
    position: absolute;
    right: 15vw;
    top: 40vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.btn {
    padding: 12px 22px;
    font-size: 1.1rem;
}

.btn.clear {
    background-color: red;
    color: wheat;
    border: none;
    border-radius: 3px;
    box-shadow: 0.12rem 0.134rem 0.22rem rgba(0,0,0, 0.6);
}

input[type="color"] {
    appearance: none;
    border: none;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}